
@font-face {
  font-family: '나눔손글씨';
  src: url('나눔손글씨 성실체.ttf');
}

.grey-bg {
  font-family: '나눔손글씨', 'gulim', 'gothic';
  
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
span {
    transform: rotate(0.02deg);
    font-size: 1.3rem;
}

.main-logo{
  width: 70px;
  border-radius: 50%;
}
.first-bg{
  text-align: center;
  font-family: '나눔손글씨', 'gulim', 'gothic';
  font-size: 40px;
 
}
.first-title-box{
  position: absolute;
  top: 1%;
  left: 30%;
  right: 30%;
}
.first-button{
  background: none;
  border-radius: 16px;
}

.first-logo{
  width: 100%;
  height: 100%;
}


.none-a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}




.logo {
  font-weight: bold;
  text-decoration: none;
}

.grey-bg {
  background: whitesmoke
}

.white-bg {
  background: white;
  margin-top: 8px;
  border-radius: 5px;
}

.list-box {
  padding: 10px;
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41, 0.06);
  border-radius: 6px;
}


.list-box h4 {
  font-size: 16px;
  margin: 5px;
}

.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

input,
div {
  box-sizing: border-box;
}



.detail-bg {
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41, 0.06);
  background: white;
  padding: 25px;
  margin-top: 20px;
  border-radius: 5px;
}

.search-input {
  box-shadow: 0px 0px 0px 1px rgb(41, 41, 41, 0.06);
  margin: 10px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 90px;
}

.search-input:focus {
  width: 100%;
  transition: all 0.5s;
}

.search-btn {
  background: #595757;
  color: white;
}



.reply-box {
  padding: 0px 10px 10px 10px;
  margin: 10px;
  border-radius: 8px;
}

.reply-box input {
  padding: 8px;
  font-size: 16px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
}

.reply-box button {
  padding: 8px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}

.reply {
  border-top: 2px solid #eee;
  padding-top: 10px;
}


.chat-screen {
  width: 100%;
}

.chat-box {
  margin-top: 15px;
  display: flex;

}

.chat-box span {
  padding: 10px;
  background: #eee;
  border-radius: 16px;
}

.mine {
  justify-content: end;
}

.chat-input {
  margin-top: 15px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
}

.chat-input:focus {
  border-bottom: 1px solid black;
  padding: 13px;
}

.chat-button {
  padding: 10px;
  border: none;
  background: lightgray;
  border-radius: 5px;
}

.date-box {
  font-size: 13px;
  margin-bottom: 7px;
  opacity: 0.8;
}

.form-bg {
  margin-top: 50px;

}

.form-white {
  color: black;
  background: white;
  padding: 30px;
  width: 80%;
  max-width: 900px;
  margin: auto;
}
.form-white a{
  text-decoration: none;
}

.form-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

.form-input-content {
  height: 300px;
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
}

.w-100 {
  width: 100%;
  padding: 10px
}

.form-long {
  height: 100px;
}

.bottom-menu {
  padding: 10px;
}

.form-button {
  padding: 8px;
  display: block;
  margin-left: auto;
  background: white;
  border-radius: 13px;
  width: 28%;
  color: black;
  border : 2px solid black;
}


.prev-next {
  padding: 50px;
}

.like-box {
  display: flex;
  justify-content: center;
}

.like-icon {
  font-size: 35px;
}

.card-body {
  font-size: 13px;
  color: gray;
}

.card-body a {
  text-decoration: none;
  color: black;
}

.card-list {
  margin-top: 15px;
}

.re-reply {
  display: none;
}

.re-reply-open {
  font-size: 13px;
  cursor: pointer;
  opacity: 0.7;
}

.re-reply-content {
  padding: 8px;
  margin : 8px 0px 8px 25px;
  box-shadow: 0px 0px 2px 1px rgb(41, 41, 41, 0.15);
  border-radius: 6px;
}

.re-reply-content p {
  font-size: 14px;
  margin: 3px;
}

