<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href = '/main.css' rel="stylesheet">
</head>
<body class="grey-bg">

    <!-- nav bar -->
    <%- include('nav.ejs') %>
    
  <%= JSON.stringify(result) %>

    <div class="detail-bg">
      <div class="chat-screen">
        <div class="chat-box"><span>안녕하세요</span></div>
        <div class="chat-box mine"><span>안녕하세요</span></div>
        
        
      </div>
    </div>

    <div class="chat-form">
        <input class="chat-input" value="">
        <button class="chat-button">전송</button>
    </div>

    <!-- 웹소켓 다운 -->
    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>

    <script>
      const socket = io() //웹소켓 연결
      socket.emit('ask-join', '<%= result._id %>')

      let now = new Date()
      document.querySelector('.chat-button').addEventListener('click',function(){
        let inputValue = document.querySelector('.chat-input').value;
        socket.emit('message-send', { 
          msg : inputValue, room : '<%= result._id %>', date : now 
        })
      })

      socket.on('message-broadcast', (data)=>{
      
        document.querySelector('.chat-screen').insertAdjacentHTML
        ('beforeend', `<div class="chat-box mine"><span>${data}</span></div>`)
      })

    

        

    </script>

</body>
</html>