<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href = '/main.css' rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <div class="form-box" > 
        <h3>마이페이지</h3>
        <h4>유저명 : <%= user.username %></h4>
    </div>
    


</body>
</html>