<div class="nav">
    <a class="logo" href="/list">한상갤러리</a>
    <a href="/list/1">list</a>
    <a href="/write">글쓰기</a>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/register">회원가입</a>
    <a href="/mypage">mypage</a>
    <a href="/chatlist">채팅방리스트</a>
</div>