<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href = '/main.css' rel="stylesheet">
</head>
<body class="grey-bg">

    <%- include('nav.ejs') %>

    <!-- 서버에 포스트 요청 날리는 형식 -->
    

    <div class="form-bg">
        <div class="form-white">
            <form class="form-box" action="/register" method="POST">
                <div class="w-100">
                    <h3>회원가입</h3>
                    <p>Username</p>
                    <input class="form-input" name="username" placeholder="username">
                </div>
                <div class="w-100">
                    <p>Password</p>
                    <input class="form-input" name="password" type="password" placeholder="password">
                </div>
                <div class="w-100">
                    <p>Confirm Password</p>
                    <input class="form-input" name="password2" type="password" placeholder="confirm password">
                </div>

                <div class="bottom-menu">
                    <button type="submit" class="form-button">가입하기</button>
                </div>
            </form>
        </div>
    </div>


</body>
</html>